<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Form Teacher</h1>
        <form action="<%= formAction %>" method="post">
            <input type="hidden" name="id" value="<%= formValue_id %>">
            <input value="<%= formValue_f_name %>" type="text" name="f_name" placeholder="First Name.."><br>
            <input value="<%= formValue_l_name %>" type="text" name="l_name" placeholder="Las Name.."><br>
            <input value="<%= formValue_email %>" type="text" name="email" placeholder="Email.."><br>
            <input type="submit" value="Add Teacher">
        </form>
    </body>
</html>