<!-- views/listStudent.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Data Students</h2>
        <table border='1'>
            <tr>
                <td><b>No.</b></td>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Email</b></td>
                <td colspan=2><center><b>Action</b></center></td>
            </tr>
          <% data_students.forEach(dataStd => {%>
            <tr>
              <td><%= dataStd.id %></td>
              <td><%= dataStd.first_name %></td>
              <td><%= dataStd.last_name %></td>
              <td><%= dataStd.email %></td>
              <td><a href="/student/update/<%= dataStd.id %>">Edit</a></td>
              <td><a href="/student/delete/<%= dataStd.id %>" onclick="return confirm('delete this student ?');">Delete</a></td>
            </tr>
          <% }) %>
    </table>
    </div>
    <a href="/student/add">Add Student</a>
    <a href="/">Back</a>
</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
