<div>
  <h1>SMK Hacktiv8</h1>
  <h3>Jakarta Selatan - Indonesia</h3>
</div>

<div>
    <button onclick="location.href ='/add';">Dashboard</button>
    <button onclick="location.href ='/students';">Students</button>
    <button onclick="location.href ='/teachers';">Teachers</button>
    <button onclick="location.href ='/subjects';">Subjects</button>
    <button onclick="location.href ='/users';">User</button>
    <button onclick="location.href ='/';">Logout</button>
</div>

<!-- <div>
    <table>
        <tr>
            <th><h4>Students Name</h4></th>
            <th><h4>:</h4></th>
            <th><h4><%=data.firstName%> <%=data.lastName%></h4></th>
        </tr>
        <tr>
            <th><h4>Subject</h4></th>
            <th><h4>:</h4></th>
            <th><h4><%=data['Subjects.name']%></h4></th>
        </tr>
        <tr>
            <th><h4>Score</h4></th>
            <th><h4>:</h4></th>
            <th><input type="text" name="score"></th>
        </tr>
    </table>
</div> -->

<div>
    <form method="post">
        <table>
            <tr>
                <th><h4>Students Name</h4></th>
                <th><h4>:</h4></th>
                <th><h4><%=data.firstName%> <%=data.lastName%></h4></th>
            </tr>
            <tr>
                <th><h4>Subject</h4></th>
                <th><h4>:</h4></th>
                <th><h4><%=data['Subjects.name']%></h4></th>
            </tr>
            <tr>
                <th><h4>Score</h4></th>
                <th><h4>:</h4></th>
                <th><input type="text" name="score"></th>
            </tr>
            <tr>
                <th><input type="submit" value="Give Score"></th>
            </tr>
        </table>
    </form>
</div>