<script>
function deleteStudent(id, fullName) {
  if (confirm(`Are You Sure to Delete ${fullName}`)) {
      location.href = `/students/delete/${id}`;
  } else {
  }
}
</script>

<div>
    <h1>SMK Hacktiv8</h1>
    <h3>Jakarta Selatan - Indonesia</h3>
</div>

<div>
    <button onclick="location.href ='/';">Dashboard</button>
    <button onclick="location.href ='/students';">Students</button>
    <button onclick="location.href ='/teachers';">Teachers</button>
    <button onclick="location.href ='/subjects';">Subjects</button>
    <button onclick="location.href ='/users';">User</button>
    <button onclick="location.href ='/';">Logout</button>
</div>

<div>
  <table>
    <tr>
      <th><h4>No.</h4></th>
      <th><h4>Id</h4></th>
      <th><h4>Name</h4></th>
      <th><h4>Email</h4></th>
      <th><h4>Subjects</h4></th>
      <th><h4>Actions</h4></th>
    </tr>
    <%for(let i in data) {%>
      <tr>
        <th><h4><%=Number(i)+1%></h4></th>
        <th><h4><%=data[i].id%></h4></th>
        <th><h4><%=data[i].getFullName()%></h4></th>
        <th><h4><%=data[i].email%></h4></th>
        <th><h4><button onclick="location.href ='/students/<%=data[i].id%>/addsubject'">Add Subject</button></h4></th>
        <th><h4><button onclick="location.href ='/students/edit/<%=data[i].id%>'">Edit</button> || <button onclick="deleteStudent('<%=data[i].id%>','<%=data[i].getFullName()%>')">Delete</button></h4></th>
        </th>
      </tr>
    <%}%>
  </table>
</div>

<div>
  <button onclick="location.href ='/students/add';">Add New Students</button>
</div>