<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <table class="table">
      <h2>Students Data</h2>
      <thead>
        <tr>
          <th>No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <%data.forEach((student, i) =>{%>
          <tr>
            <td><%=i+1%></td>
            <td><%=student.first_name%></td>
            <td><%=student.last_name%></td>
            <td><%=student.email%></td>
            <td>
              <a href="students/<%=student.id%>/addsubject">Add Subject</a>
            </td>
            <td>
              <a href="/students/edit/<%=student.id%>">Edit</a>
              |
              <a href="/students/delete/<%=student.id%>" action="/students" onclick="return confirm('Delete this student?')" >Delete</a>
            </td>
          </tr>
        <%})%>
      </tbody>
      <a href="/students/add">
        <h4>Add Student</h4>
      </a>
    </table>
  </div>
  </body>
</html>
