<html>
  <head>
    <title>SIT Permata Bunda</title>
    <meta charset="utf-8">
    <link href="../styles/subject.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">SIT Permata Bunda</a>
        <ul>
            <li><a href="/subject">Subject</a></li>
            <li><a href="/student">Student</a></li>
            <li><a href="/teacher">Teacher</a></li>
            <li><a href="#about">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="box">
      <form class="pure-form pure-form-stacked" action="/subject" method="post">
          <fieldset>
            <label for="subject_name">Subject Name</label>
            <input name="subject_name" type="text" placeholder="ex. Math">
            <button type="submit" class="pure-button pure-button-primary" value="save">Add New Subject</button>
          </fieldset>
        </form>
    </div>

    <div class="table">
      <table class="table-striped">
        <thead>
          <th>No</th>
          <th>Sub ID</th>
          <th>Subject Name</th>
          <th>Teachers</th>
          <th>Students</th>
          <th>Action</th>
        </thead>
        <tbody>
          <%subject.forEach((data,i)=>{%>
            <tr>
              <td><%=i+1%></td>
              <td><%=data.id%></td>
              <td><%=data.subject_name%></td>
              <td>Bambang Bambang</td>
              <td>Badu budi</td>
              <td>
                  <a href="subject/update/<%=data.id%>"></span>edit</a>
                  <a href="subject/delete/<%=data.id%>"onclick="return confirm('Are you sure you want to delete: \n<%=data.subject_name%>\n')"></span>delete</a>
              </td>
            </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </body>
</html>