<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% include header.ejs %>

        <h1><%= heading %></h1>
        <a href="/subjects/add">Add Subject</a>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Subject Name</td>
                    <td>Teacher</td>
                    <td>Option</td>
                </tr>
            </thead>
            <tbody>
                <% no= 1%>
                <% for(let i=0; i<data.length; i++){ %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].subject_name %></td>
                    <td>
                        <% for(let j=0; j < data[i].Teachers.length; j++){ %>
                            <%= data[i].Teachers[j]['first_name'] %><br>
                        <% } %>
                    </td>
                    <td>
                        <a href="/subjects/edit/<%= data[i].id %>">Edit</a>
                        <a href="/subjects/delete/<%= data[i].id %>">Delete</a>
                    </td>
                </tr>
                <% no++%>
                <% } %>
            </tbody>
        </table>
    </body>
</html>