<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Subject </title>
</head>
<body>
	<h1><center>Subject Data</center></h1>
	<center><a href="/subjects/add">add Subject</a></center>
	<center>
	<table class = "table">
			<thead>
					<tr>
							<th>ID</th>
							<th>Subject Name</th>
							<th>Teacher</th>
							<th>Actions</th>
							<th>Options</th>
					</tr>
			</thead>
			<tbody>
							<%data.forEach(subject => {%>
					<tr>
							<td><%=subject.id%></td>
							<td><%=subject.subject_name%></td>
							<td>
									<ol>
											<%subject.Teachers.forEach(teacher=>{%>
									
													<li><%=teacher.first_name + ' ' +teacher.last_name%></li>
									
											<%})%>
									</ol>
							</td>
							<td><a href = "/subjects/<%=subject.id%>/enrolledstudents">Enrolled Students</a></td>
							<td><a href = "/subjects/edit/<%=subject.id%>">Edit</a> |<a href = "/subjects/delete/<%=subject.id%>" onclick="return confirm('Delete subject ?')">Delete</a> </td>
					</tr>
					<%})%>
			</tbody>
	</table>
</center>
</body>
</html>
