<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
    </head>
    <body>
        <% include header.ejs %>

        <h1><%= heading %></h1>
        <a href="/teachers/add">Add Teacher</a>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Subject</td>
                    <td>Option</td>
                </tr>
            </thead>
            <tbody>
                <% no= 1%>
                <% for(let i=0; i<data.length; i++){ %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].first_name %></td>
                    <td><%= data[i].last_name %></td>
                    <td><%= data[i].email %></td>
                    <% if(data[i].SubjectId){ %>
                        <td><%= data[i].Subject['subject_name'] %></td>
                    <% } else %>

                    <td>
                        <a href="/teachers/edit/<%= data[i].id %>">Edit</a>
                        <a href="/teachers/delete/<%= data[i].id %>">Delete</a>
                    </td>
                </tr>
                <% no++%>
                <% } %>
            </tbody>
        </table>
    </body>
</html>