<!-- view/viewTable.ejs -->

<html>
    <head>
        <title>WikaSilo School | P1W3</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div>
            <%- include('partials/navbar')  %>        
            <div>
                <h4>Data <%= table %></h4>
                <table border="1" cellspacing="0" cellpadding="10">
                    <tr>
                        <% let key = Object.keys(data[0]) %>
                        <% let keys = [] %>
                        <% for(let i=0; i<key.length; i++) { %>
                            <td><%= key[i] %></td>
                            <% keys.push(key[i]) %>
                        <% } %>
                        <td>Option</td>
                    </tr>
                        <tr>
                        <% for(let i=0; i<data.length; i++) { %>
                            <% for(let j=0; j<keys.length; j++) { %>
                                <% if(!data[i][keys[j]]) { %>
                                <td><%= "unassigned" %></td>
                                <% } else { %> 
                                <td><%= data[i][keys[j]] %></td>
                                <% } %>
                            <% } %>
                            
                            <div method="POST">
                            <td><a href="/<%= table.toLowerCase() %>/edit/<%= data[i].id %>">edit</a> | <a href="/<%= table.toLowerCase() %>/delete/<%= data[i].id %>">delete</a></td>
                            </div>
                        </tr>
                        <% } %>
                </table>
            </div>

            <div>
                <h4>Add Data <%= table %></h4>
                <form action="/<%= table.toLowerCase() %>" method="POST">
                    <% for(let i=1; i<key.length; i++) { %>
                    <%= key[i] %>:<br>
                    <input type="text" name=<%= key[i].toLowerCase().split(' ').join('_') %>><br>
                    <% } %>
                    <br>
                    <input type="submit" value="Add <%= table %>"><br> 
                </form>
            </div>

            <%- include('partials/footer') %>
        </div>
    </body>
</html>