<%- include ../templates/header.ejs %>
  <div class="container">
    <br>
    <% if(alert.message != '') { %>
    <div class="alert alert-<%= alert.status %>">
      <%= alert.message %>
    </div>
    <% } %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Students Data</li>
    </ol>
    <h3>Student Data</h3>
    <br>
    <a href="/students/create" class="btn btn-primary">Add New Stutdent</a>
    <br>
    <br>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% for (var i = 0; i < students.length; i++) { %>
          <tr>
            <td>
              <%= students[i].id %>
            </td>
            <td>
              <%= students[i].firstName %>
            </td>
            <td>
              <%= students[i].lastName %>
            </td>
            <td>
              <%= students[i].email %>
            </td>
            <td>
              <% if (students[i].Subjects.length) { %>
                <ol>
                <% for (var j = 0; j < students[i].Subjects.length; j++) { %>
                  <li> <%= students[i].Subjects[j].subjectName %> </li>
                <% } %>
                </ol>
              <% } else { %>
                Has No Subject
              <% } %>
            </td>
            <td>
              <a href="/students/<%= students[i].id %>/subject" class="btn btn-sm btn-warning" >Add Subject </a>
              <a href="/students/edit/<%= students[i].id %>" class="btn btn-sm btn-primary"> Edit </a>
              <button class="btn btn-sm btn-danger btn-delete" data-id="<%= students[i].id %>"> Delete </button>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <% var paginationFor = "students" %>
    <%- include ../templates/pagination.ejs %>
  </div>
  <script type="text/javascript">
  $('.btn-delete').click(function(){
    let id = $(this).attr('data-id');
    swal({
      title: "Yakin Ingin Menghapus Student?",
      text: "Data yang dihapus, tidak bisa kembali lagi.",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        window.location.assign(`/students/delete/${id}`);
      }
    });
  });
  </script>
  <%- include ../templates/footer.ejs %>
