<html>
  <head>
    <title>
      HALAMAN STUDENTS
    </title>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <a href="/students/add">Add Students</a>
    <table align="center">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
        <th>Options</th>
      </tr>
      <% for(let i=0;i<students.length;i++){ %>
        <tr>
          <td><%= students[i].id %></td>
          <td><%= students[i].first_name + ' ' + students[i].last_name %></td>
          <td><%= students[i].email %></td>
          <td><a href="/students/addSubject/<%= students[i].id %>">Add Subject</a></td>
          <td>
            <a href="/students/edit/<%= students[i].id %>">Edit</a>
            <a href="/students/delete/<%= students[i].id %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
