<%- include ../templates/header.ejs %>
  <div class="container">
    <br>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/students">Students Data</a></li>
      <li class="breadcrumb-item active">Edit Student</li>
    </ol>
    <h3>Edit Student</h3>
    <form action="/students/edit/<%= student.id %>" method="post">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" value="<%= student.firstName %>" class="form-control" name="firstName" id="firstName" >
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" value="<%= student.lastName %>"class="form-control" name="lastName" id="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" value="<%= student.email %>" class="form-control" name="email" id="email">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <%- include ../templates/footer.ejs %>
