<% include ../v_index%>
<div class="container">
    <div>
        <a href="teachers/add">
            <button type="button" name="button" class="btn  btn-primary" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus"></span> Add Teacher
            </button> 
        </a>           
        
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>No</th>
                <th>ID</th>
                <th>Teacher Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Action</th>
            </thead>
            <tbody>
                <%teacher.forEach((data,i)=>{%>
                    <tr>
                        <td><%=i+1%></td>
                        <td><%=data.id%></td>
                        <td><%=data.getFullName()%></td>
                        <td><%=data.email%></td>
                        <%if(data.Subject !== null){%>
                            <td><%=data.Subject.subject_name%></td>
                        <%}else{%>
                            <td>unassign</td>
                        <%}%>
                        
                        <td>
                        <td> 
                            <a href="teachers/edit/<%=data.id%>"><span class="glyphicon glyphicon-edit"></span>edit</a>
                            <a href="teachers/delete/<%=data.id%>"onclick="return confirm('Yakin mau delete Guru: \n<%=data.first_name%><%=data.last_name%>\n Klik cancel untuk membatalkan')"><span class="glyphicon glyphicon-trash"></span>delete</a>
                        </td>
                    </tr>
                <%})%>
            </tbody>
           
        </table>
    </div> 
</div>