<!DOCTYPE html>
<html lang="en">

    <head>
        <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
        </style>        
    </head>

    <body>
        <h2><%= data.subject_name %></h2>
        <a href="/subjects">return to subject list</a>
        <form>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                <% for(let i = 0; i < data.StudentSubjects.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= `${data.StudentSubjects[i].Student.first_name} ${data.StudentSubjects[i].Student.last_name}` %></td>
                        <% if(data.StudentSubjects[i].score) { %>
                            <td><%= data.StudentSubjects[i].score %></td>
                        <% } else { %>
                            <td><a href='/subjects/<%= data.id %>/<%= data.StudentSubjects[i].id %>/giveScore'>Give Score</a></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </form>

    </body>

</html>