<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Student Data</title>
</head>

<body>
    <div class="col-md-6 offset-md-3">
        <form action="/students/<%=dataStudent.id%>/addsubject" method="post">
            <fieldset disabled>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name" value="<%=dataStudent.first_name%>">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name" value="<%=dataStudent.last_name%>">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" value="<%=dataStudent.email%>">
                </div>
            </fieldset>
            <div class="form-group">
                <label>Adding Subject</label>
                <select class="form-control" name="subjectId">
                    <%dataSubject.map((data)=>{ %>
                        <option value="<%=data.id%>">
                            <%=data.subject_name%>
                        </option>
                        <% }) %>
                </select>
            </div>
            <input type="submit" clas="btn btn-primary" value="Submit">
        </form>
    </div>
</body>

</html>