<%- include ../templates/header.ejs %>
  <div class="container">
    <br>
    <% if(alert.message != '') { %>
    <div class="alert alert-<%= alert.status %>">
      <%= alert.message %>
    </div>
    <% } %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Teachers Data</li>
    </ol>
    <h3>Teacher Data</h3>
    <br>
    <a href="/teachers/create" class="btn btn-primary">Add New Teacher</a>
    <br>
    <br>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% for (var i = 0; i < teachers.length; i++) { %>
          <tr>
            <td>
              <%= teachers[i].id %>
            </td>
            <td>
              <%= teachers[i].firstName %>
            </td>
            <td>
              <%= teachers[i].lastName %>
            </td>
            <td>
              <%= teachers[i].email %>
            </td>
            <td>
              <% if (teachers[i].SubjectId) { %>
                <%= teachers[i]['Subject.subjectName'] %>
              <% } else { %>
                unassigned
              <% } %>
            </td>
            <td>
              <a href="/teachers/edit/<%= teachers[i].id %>" class="btn btn-sm btn-primary"> Edit </a>
              <button class="btn btn-sm btn-danger btn-delete" data-id="<%= teachers[i].id %>"> Delete </button>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <% var paginationFor = "teachers" %>
    <%- include ../templates/pagination.ejs %>
  </div>
  <script type="text/javascript">
  $('.btn-delete').click(function(){
    let id = $(this).attr('data-id');
    swal({
      title: "Yakin Ingin Menghapus Teacher?",
      text: "Data yang dihapus, tidak bisa kembali lagi.",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        window.location.assign(`/teachers/delete/${id}`);
      }
    });
  });
  </script>
  <%- include ../templates/footer.ejs %>
